body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
}

h1 {
    color: #422680;
    margin-bottom: 20px;
}

.navbar-brand {
    font-weight: bold;
}

footer {
    margin-top: 50px;
}
